<h1>Fyber API Client</h1>

<form class="simpleform" accept-charset="UTF-8" action="/offers" method="post">

<div>
  <input id="offers_uid" name="offers[uid]" placeholder="uid" type="text" />
  <input id="offers_pub0" name="offers[pub0]" placeholder="pub0" type="text" />
  <input id="offers_page" name="offers[page]" placeholder="page" type="text" />
  <input name="commit" type="submit" value="Get offers" />
</form>